/* Apply box-sizing and max width to container, header, and welcome section */

/* html,
body,
.container,
header,
.welcome-section,
main,
footer {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-indigo: #000099;
  --color-text-main: rgba(24, 24, 24, 1);
  --color-text-muted: rgba(0, 0, 0, 0.6);
  --color-text-muted-dark: rgba(0, 0, 0, 1);
  --color-text-active: rgba(0, 0, 153, 1);

  --color-bg-main: rgba(255, 255, 255, 1);
  --color-bg-light: rgba(234, 245, 254, 1);
  --color-bg-1: rgba(3, 1, 114, 1);

  --color-border: rgba(158, 169, 241, 1);
  --color-border-1: rgba(24, 24, 24, 0.04);
  --color-border-2: rgba(81, 77, 89, 0.15);

  --color-shadow-1: rgba(24, 24, 24, 0.08);
  --color-shadow-2: rgba(24, 24, 24, 0.16);

  --color--placeholder: rgba(116, 116, 116, 1);

  /* Fonts */
  --font-main: "Salesforce Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-alt: "Poppins", sans-serif;
  --font-display: "Avant Garde For Salesforce", "Helvetica Neue", sans-serif;

  --font-placeholder: "Inter", sans-serif;

  /* Font Sizes */
  --fs-base: 16px;
  --fs-sm: 14px;
  --fs-md: 24px;
  --fs-lg: 32px;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 40px;
  --spacing-xxl: 72px;

  /* Layout */
  --max-width: 1920px;
  --border-radius-sm: 4px;
  --border-radius-lg: 16px;
  --border-radius-xlg: 24px;
}
/* 
.buttons {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 4px;
  flex-wrap: wrap;
  height: auto;
} */

header {
  /* height: 100%; */
  width: 100%;
  gap: 10px;

  .mainNavigation {
    height: 70px;
    gap: 56px;
    color: var(--color-bg-light);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

    .logoIndigo {
      width: 335px;
      /* height: 70px; */
      padding: 8px 24px 8px 40px;
      gap: var(--spacing-md);
      align-content: center;
      text-align: center;

      img {
        display: inline-block;
        width: 209px;
        height: 45.27px;
      }
    }

    /* Search bar container */
    .search-bar {
      width: 500px;
      /* height: 48px; */
      gap: var(--spacing-xs);

      form {
        display: flex;
        width: 100%;
        max-width: 500px;
        border-radius: var(--border-radius-xlg);
        padding: 12px 16px 12px 16px;
        gap: var(--spacing-sm);
        border: 1px solid var(--color-border);
        background-color: var(--color-bg-light);
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        img {
          width: 24px;
          height: 24px;
        }

        input {
          /* height: 30px; */
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
          font-size: var(--fs-base);
          background: transparent;
          border: none;
          outline: none;
          font-family: var(--font-placeholder);
        }

        input::placeholder {
          color: var(--color--placeholder);
          font-family: var(--font-placeholder);
          letter-spacing: 0%;
          font-size: var(--fs-base);
          font-weight: 400%;
        }
      }
    }

    /* Navigation links and Userprofile */

    .navbar-links {
      max-width: 919px;
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      text-align: center;

      /* Navigation list inside main links */
      /* .main-links ul {
       */

      ul {
        display: flex;
        list-style: none;
        /* margin: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0px 40px; */

        li {
          padding: 0px 32px;
          /* align-items: center;
          justify-content: center; */
          a {
            white-space: nowrap;
            font-family: var(--font-main);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.12%;
            color: var(--color-text-main);
            text-decoration: none;
          }
        }
        a.active {
          font-family: var(--font-main);
          font-weight: 700;
          font-size: var(--fs-base);
          line-height: 24px;
          letter-spacing: 0.12%;
          color: var(--color-text-active);
        }
      }

      /* User info container (cart, notifications, user icon) */

      .userInfo {
        width: 100%;
        /* max-width: 310px; */
        /* height: 44px; */
        padding: 7.33px;
        gap: 7.33px;
        background-color: var(--color-bg-main);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        a {
          text-decoration: none;
          width: 100%;
          max-width: 29.33px;
          img {
            color: var(--color-text-active);
          }

          /* height: 29.33px; */
        }
        /*
        .cart-icon img {
          width: 25.4px;
          height: 25.76px;
          top: 1.79px;
          left: 1.79px;
        }
        .notification-icon img {
          width: 25.76px;
          height: 25.76px;
          top: 1.79px;
          left: 1.79px;
          color: var(--color-text-active);
        }

        .user-icon img {
          width: 23.75px;
          height: 24.29px;
          top: 2.52px;
          left: 2.79px;
          color: var(--color-text-active);
        }

        */
        span {
          width: 64px;
          height: 18px;
          color: var(--color-text-active);
          font-family: var(--font-main);
          font-weight: 400;
          font-size: var(--fs-sm);
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }
  }
}

/*-------------Main Section--------------------------*/

/* Welcome section container */

.welcome-section {
  /* width: 1920px; */
  width: 100%;
  padding: 72px 192px;
  gap: var(--spacing-lg);
  background-color: var(--color-bg-main);
  display: flex;
  flex-direction: column;

  .welcome-message h1 {
    /* width: 569px;
    height: 48px; */
    font-family: var(--font-alt);
    font-weight: 500;
    font-size: var(--fs-lg);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-text-active);
  }
}

.breadcrumb-section {
  padding: 16px 192px;
  background-color: var(--color-bg-main);
  gap: var(--spacing-lg);

  .breadcrumb ol {
    /* width: 293px; */
    /* height: 21px; */
    display: flex;
    list-style: none;
    li {
      /* height: 16px; */
      gap: var(--spacing-xs);

      a {
        font-family: var(--font-main);
        font-weight: 400;
        font-size: var(--fs-base);
        line-height: 100%;
        letter-spacing: 0%;
        height: 11px;
        color: var(--color-text-muted);
        text-decoration: none;
      }
      span {
        width: 141px;
        height: 21px;
        color: var(--color-text-muted-dark);
        font-family: var(--font-main);
        font-weight: 400;
        font-size: var(--fs-base);
        line-height: 100%;
        letter-spacing: 0%;
      }
    }

    li:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../img/arrow.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 4px;
      vertical-align: middle;
    }
  }
}

/* -----------------Add-ons section-------------- */

/* Addons container */

.addons-section {
  width: 100%;
  padding: 72px 192px;
  /* margin: 0; */
  background-color: var(--color-bg-main);
  display: flex;
  flex-direction: column;

  .addons-text {
    gap: var(--spacing-xl);

    h2 {
      font-family: var(--font-display);
      font-weight: 600;
      line-height: 50px;
      font-size: 32px;
      letter-spacing: 0.12%;
      color: var(--color-text-main);
    }
  }

  .addons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: var(--spacing-md);

    .addon-item {
      background-color: var(--color-bg-main);
      border-radius: var(--border-radius-lg);
      box-shadow: 0 2px 8px -2px var(--color-shadow-1),
        0 8px 12px -2px var(--color-shadow-2);
      overflow: hidden;
      text-align: center;
      border: 1px solid var(--color-border-1);
      gap: 24px;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
      }
      .prod-descripton {
        padding: 24px;
        width: 100%;
        gap: 24px;
        display: flex;
        flex-direction: column;

        .prod-info {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          gap: 12px;

          h3 {
            display: flex;
            justify-content: flex-start;
            font-family: var(--font-display);
            font-weight: 600;
            font-size: var(--fs-md);
            line-height: 38px;
            letter-spacing: 0.12%;
            color: var(--color-text-main);
            white-space: nowrap;
            /* margin: 0px; */
          }

          p {
            /* margin-top: 0px; */
            display: flex;
            justify-content: flex-start;
            font-weight: 400;
            line-height: 24px;
            font-size: var(--fs-base);
            font-family: var(--font-main);
            letter-spacing: 0%;
            color: var(--color-text-main);
          }
        }

        ol {
          display: flex;
          flex-direction: column;
          list-style: none;
          justify-content: flex-start;
          text-align: left;
          padding: 0;
          margin: 0px;
          gap: 12px;

          h3 {
            font-family: "Avant Garde For Salesforce", "Helvetica Neue",
              sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.12%;
            color: var(--color-text-main);
            white-space: nowrap;
            margin: 0px;
          }

          p {
            margin-top: 0px;
            font-weight: 400;
            line-height: 24px;
            font-size: 16px;
            font-family: "Salesforce Sans";
            letter-spacing: 0%;
            color: var(--color-text-main);
          }
        }

        .buttons {
          gap: 4px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .view-detail {
            padding: 12px 24px;
            border: none;
            border-radius: 4px;
            background-color: var(--color-text-active);
            color: var(--color-bg-main);
            text-align: center;
            align-items: center;
            font-family: var(--font-main);
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/*---------------Recommended section-------------*/

.add-recommended {
  width: 100%;
  padding: 72px 192px;
  gap: 16px;
  background-color: var(--color-bg-light);
  display: flex;
  flex-direction: column;

  .recommended-heading {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: var(--font-display);
      font-weight: 600;
      font-size: var(--fs-lg);
      line-height: 50px;
      letter-spacing: 0.12%;
      color: var(--color-text-main);
    }
    p {
      font-family: var(--font-main);
      font-weight: 400;
      font-size: 18px;
      line-height: 33px;
      letter-spacing: 0.12%;
      color: var(--color-text-main);
    }
  }

  .grid-recommended-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;

    .grid-recommended {
      border-radius: 16px;
      background-color: var(--color-bg-light);
      border: 1px solid var(--color-border-1);
      box-shadow: 0 2px 8px -2px var(--color-shadow-1),
        0 8px 12px -2px var(--color-shadow-2);
      overflow: hidden;
      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .holiday-description {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        background-color: var(--color-bg-light);
        width: 100%;

        .holiday-description-text {
          width: 100%;
          flex: 2;
          gap: 6px;
          display: flex;
          flex-direction: column;
          p {
            font-family: var(--font-main);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            color: var(--color-text-main);
          }
          h3 {
            font-family: var(--font-display);
            font-weight: 600;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.12%;
            color: var(--color-text-main);
          }

          span {
            font-family: var(--font-main);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            color: var(--color-text-main);
          }
        }

        .buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          width: 100%;
          justify-content: flex-start;
          align-items: flex-end;
          .book-now {
            padding: 12px 24px;
            border-radius: 4px;

            gap: 10px;
            height: 44px;

            background-color: var(--color-text-active);
            color: var(--color-bg-main);
            font-family: var(--font-main);
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
            cursor: pointer;
          }
          .view-details {
            height: 44px;
            padding: 12px 24px;
            border-radius: 4px;
            gap: 10px;

            border: 2px solid var(--color-text-active);
            font-family: var(--font-main);
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            cursor: pointer;
            background-color: transparent;
            color: var(--color-text-active);
          }
        }
      }
    }
  }
}

/*--------------- Footer CSS------------------- */

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1.33px;
  border-color: var(--color-border-2);

  .footer-top {
    width: 100%;
    background-color: var(--color-bg-1);
    display: flex;
    /* top: 1672.22px; */
    align-items: end;
    justify-content: flex-end;

    .social-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 1.3;
      /* gap: 20px; */
      /* padding: 0px 10px 45px 60px; */

      .icon {
        gap: 20px;
        padding: 10px 20px 36px 10px;
      }

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }

    .footer-links {
      display: flex;
      flex: 3.5;
      justify-content: space-evenly;
      /* flex-wrap: wrap; */

      .footer-column {
        /* height: 243.43px; */
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 36px 0px 36px 0px;

        p {
          /* height: 48px; */
          height: auto;
          color: var(--color-bg-main);
          font-weight: 600;
          font-size: 31.87px;
          line-height: 100%;
          font-family: var(font --font-alt);
          /* margin-top: 0px; */
          letter-spacing: 0%;
          padding-bottom: 24px;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;

          li {
            display: flex;
            padding-bottom: 8px;
            a {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              align-items: flex-start;
              width: auto;
              height: 27px;
              text-decoration: none;
              color: rgba(250, 250, 250, 1);
              font-family: var(--font-main);
              font-weight: 400;
              font-size: 21.24px;
              line-height: 100%;
              letter-spacing: 0%;
              align-self: start;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border: 1.33px solid rgba(81, 77, 89, 0.15);
    /* height: 111.53px; */
    background-color: rgba(234, 234, 234, 1);

    .bottom-footer-logo {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        width: 100%;
        max-width: 112.86px;
        height: auto;
      }
      p {
        font-family: var(--font-alt);
        font-weight: 500;
        font-size: 15.93px;
        line-height: 100%;
        letter-spacing: 0%;
        padding-left: 75px;
      }
    }

    .bottom-footer-links {
      display: flex;
      flex: 3;
      justify-content: space-between;
      padding: 0px 36px;
      margin-right: 20px;

      ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        li {
          padding: 0px 36px;
          a {
            text-decoration: none;
            font-family: var(--font-alt);
            font-weight: 500;
            font-size: 21.24px;
            line-height: 100%;
            letter-spacing: 0%;
            /* padding: 0px 110px 0 0px; */
          }
        }
      }
    }
  }
}
