.navbar-nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: flex-end;
  margin: 1em 5em;
  gap: 2px;
}
.navbar-nav li {
}
.navbar-nav a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-style: oblique;
  font-weight: bold;
}

/* h1{
    color: aqua;
} */
h2 {
  color: brown;
}
.item-list {
  color: red;
  display: flex;
  justify-items: center;
  list-style: none;
  justify-content: flex-start;
}
.item-list li {
  margin: 10px;
  font-size: small;
  font-weight: bold;
}
input[type="button"] {
  color: chocolate;
  /* background-color: brown; */
}

input[type="email"] {
  color: aqua;
  /* background: fixed; */
  background-color: chartreuse;
}

div.video {
  padding: 10px 20px;
}
span.iframe {
  display: flex;
  text-align: justify;
  align-items: center;
  padding: 20px 20px;
}
/* section p{
    color: blue;
} */

h5 ~ p {
  color: rgba(0, 120, 220, 0.5);
}

/* section p{
    color:rgba(180,175,100,0.9) 
} */

section.test-color {
  color: chocolate;
}

section div {
  color: red;
}
section.test-color p {
  color: rgb(185, 96, 96);
}
/* div {
  text-align: right;
  border: 2px solid red;
} */


section.introduction p{
    font-family: 'Courier New', Courier, monospace,cursive;
    font-weight: bold;
    font-style: italic;
    
}


